/* <<<<<<< Recipe */
/* Start of Nav Bar css */
.sideNav {
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 20px;
  left: 10px;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
  border-radius: 5%;
  
}

.sideNav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #2196F3;
  display: block;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
}

.sideNav a:hover {
  color: #064579;
  text-decoration: underline;
}

.titleNav {
  padding-left: 10px;
  text-decoration: underline;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.ourName {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
}

#slogan {
  font-weight: 750;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* End of Nav Bar CSS */

/* Navigation Section */

nav {
  padding: 25px;
}
form {
  padding: 30px;
}
label {
  padding: 20px;
}

/* Main Section */

.front-page {
  margin: 10px;
}
.front-image {
  max-width: 50rem;
  max-height: 50rem;
}
h2 {
  padding: 1rem;
}
p {
  margin: 0;
  padding: 0 0.5rem;
}

.card {
  border: none;
}
/* >>>>>>> develop */

.centerCallouts {
  margin-right: 50px;
}