body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Navigation Section */

nav {
  padding: 25px;
}
form {
  padding: 30px;
}
label {
  padding: 20px;
}

/* Main Section */

.front-page {
  margin: 10px;
}
.front-page p{
  padding: 1rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.front-image {
  max-width: 50rem;
  max-height: 50rem;
}
h2 {
  padding: 1rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
p {
  margin: 0;
  padding: 0 0.5rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.card {
  border: none;
}

.card:hover {
  cursor: pointer;
}

.categories div {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.categories h4 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 1024px) {
  .front-page p{
    padding: 0.5rem;
  }
}
@media screen and (max-width: 768px) {
  nav {
    padding: 10 0px;
  }
  form {
    padding: 0px;
  }
  label {
    padding: 10 0px;
  }
}
@media screen and (max-width: 480px) {

}

